<h1>Listing A Puppy:</h1>

<p>
<form action="/" method="post">
  Name: <input type="text" name="name" placeholder="puppy name"><br>
  Breed: <input type="text" name="breed" placeholder="puppy breed"><br>
  Age: <input type="string" name="age" placeholder="puppy age"><br>
  <input type="submit" name="submit">
</form>
</p>
