<form action="/" method="post">
  <input type="text" name="name" placeholder="Place Puppy name here">
  <input type="text" name="breed" placeholder="Place Puppy breed here">
  <input type="text" name="age" placeholder="Place Puppy age here">
  <input type="submit" id="submit">
</form>
